﻿<%@ Page 
    Title="About" 
    Language="C#" 
    MasterPageFile="~/Site.Master" 
    AutoEventWireup="true" 
    CodeBehind="About.aspx.cs" 
    Inherits="cs_web_form_intro.About" 
%>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %></h2>

    <p>this is my cool site 😎🆒😎</p>
</asp:Content>
