﻿body {
    background-color: slategray;
    color: antiquewhite;
}
.gutter {
    width: 20vw;  
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
}

.banner {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}
