﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ReusableForm.ascx.cs" Inherits="cs_web_form_intro.ReusableForm" %>

<asp:Label ID="Label1" runat="server" Text="Default Label" />
<asp:TextBox ID="TextBox1" runat="server" />
<a href="ReusableForm.ascx.cs">ReusableForm.ascx.cs</a>